# NextAuth
NEXTAUTH_SECRET=your-secret-here-generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000

# Admin credentials
ADMIN_EMAIL=admin@smartshopper.app
ADMIN_PASSWORD_HASH=$2b$12$m794wrYenStwS1yzYAB/xOpXZmjuJn43XjBAgLKD76fu90ZXIaMhy
